<!doctype html>
<html class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ea1fa054.js" crossorigin="anonymous"></script>
  </head>
  <body class="dark:bg-black">

    <div class="relative bg-white dark:bg-black pt-16 pb-32 overflow-hidden">
      <div class="relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
          <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:grid-flow-col-dense lg:gap-24">
                <a href="https://twitter.com/socketwiz">
                  <span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 m-3">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                  </span>
                </a>
                <a href="https://github.com/socketwiz">
                  <span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 m-3">
                    <i class="fa-brands fa-github fa-2x"></i>
                  </span>
                </a>
                <a href="https://linkedin.com/in/socketwiz">
                  <span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 m-3">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="mt-8 border-t border-gray-200 pt-6">
              <blockquote>
                <footer class="mt-3">
                  <div class="flex items-center space-x-3">
                    <div class="text-base font-medium dark:text-gray-700">
                      Ricky Nelson, computer geek, gamer, drummer
                    </div>
                  </div>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="mt-12 sm:mt-16 lg:mt-0">
            <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full sm:grid sm:justify-items-center">
              <img class="rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="/images/logo.png" alt="drummer, javascript, world of warcraft, rust">
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
